@import "tailwindcss";

html {
  font-family: "Pretendard", sans-serif;
}

.flex-center {
  @apply flex items-center justify-center;
}

/* 스크롤 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #e4e4e7;
  transition: background-color 0.2s;
}

::-webkit-scrollbar-track {
  flex-shrink: 0;
  background-color: transparent !important;
}
